/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
}


.page {
    min-width: 1260px;
}

.bigcontainer{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}





/* regole head */

div.top.bigcontainer {
    position: fixed;
    top: 0;    
}

.top {
    background-color: rgb(255, 102, 0);
    min-height: 70px;
    min-width: 100%;
    z-index: 500;
}

.nav {
    align-items: center;    
  
}



ul.flex {
    list-style: none;
}

ul.flex li {
    margin: 0 10px;
}

.logo {
    height: 20px;
}

.icons {
    color: white;
    margin: 0 3px;
}



/* regole main */

main {
    margin: 70px;
}


.imgcont {
    margin-top: 70px;
}

.img {
    height: 580px;


}

.hover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.rel {
    position: relative;
}

.rel:hover  .hover{
    display: block;
}

.flexstart {
    display: flex;
    position: absolute;
    bottom: 90px;
}

.label {
    background-color: red;
    padding: 2px 10px;
    font-size: 14px;
    color: white;
    margin-right: 5px;

}
 div.green {
    background-color: green;
 }

.button {
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
}

.cuore {
    color: black;
    text-align: center;
    
}

.cuorer {
    color: rgb(240, 11, 11);
    position: absolute;
    text-align: center;
    display: none;

}


.centred {
    display: flex;
    justify-content: center;
}

.button:hover .cuorer{
    display: inline-block;
}

.marca {
    color: lightgray;
}

h2 {
    font-size: 12px;
}

.off {
    color: red;
}

.price {
    text-decoration: line-through;
    color: grey;
}



/* regole foot */

footer {
    margin-top: 70px;
}

h3, h4{
    color: white;
    margin: 8px 0;
}
.bot {
    background-color: black;
    /* debug */
    min-height: 100px;
}

.footlink {
    margin: 0 3px;
    font-size: 12px;

}

.col {
    flex-direction: column;
}