/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
}


.page {
    min-width: 1260px;
}

.bigcontainer{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}





/* regole head */

div.top.bigcontainer {
    position: fixed;
    top: 0;    
}

.top {
    background-color: rgb(255, 102, 0);
    min-height: 70px;
    min-width: 100%;
}

.nav {
    align-items: center;    
  
}



ul.flex {
    list-style: none;
}

ul.flex li {
    margin: 0 10px;
}

.logo {
    height: 20px;
}

div i {
    color: white;
    margin: 0 3px;
}



/* regole main */

main {
    margin: 70px;
}

.img {
    /* DEBUG */
    height: 500px;
    min-width: 410px;
    border: 2px gray solid;
    margin: 70px 0;

}







/* regole foot */
.bot {
    background-color: black;
    /* debug */
    min-height: 100px;
}